h1{
    text-align:center;

}

ol{
    margin-left: 40%;
}
#form{
    margin-left: 10%;
}
#detail{

    margin:2%;
    margin-left:15%;
}
#title{
    margin:2%;
    margin-left:15%;

}
.list{

    display: flex;
    flex-direction: column;
}
.num{
    font-size: 25px;
}
footer{
    background-size: cover;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}